<nav class="navbar navbar-light navbar-dark bg-success">
  <a class="navbar-brand"  href="#">BOOK 詳細画面</a>
</nav>

<div class="book-content">
  <div class="book-image">
    <%= attachment_image_tag @book, :image, fallback: "no-image.png" %>
  </div>

  <div class="book-main">
  <h1>〜タイトル〜</h1>
    <h2><%= @book.title %></h2>
  
  <h1>〜内容〜</h1>
    <td><%= simple_format @book.body %></td>
  </div>
</div>